
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #012A4A;
    color: white;
}
.container{
    min-height: 45vh;
    width:35vw;
    background-color: #fff;
    color: black;
    padding: 2rem;
    border-radius: 2rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  */
}
form{
    margin: 2rem 0 1rem 0;
}
 form select,button,input{
    width:100%;
    border:none;
    outline:none;
    border-radius: 0.75rem;
 }

 form input{
   border:1px solid lightgray;
   width:100%;
   font-size: 1rem;
   height: 3rem;
   padding-left: 0.5rem;
 }
 .dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
 }
 .dropdown i{
   font-size: 1.5rem;
   margin-top: 1rem;
 }

 .select-container img{
    max-width: 2rem;
 }

 .select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border:1px solid lightgray;
    border-radius: 0.5rem;
 }
 .select-container select{
   font-size: 1rem;
 }
 .msg{
   margin: 2rem 0 2rem 0;
   text-align: center;
   border:1px solid lightgray;
   width:100%;
   font-size: 1.2rem;
   height: 3rem;
   padding-left: 0.5rem;
   padding-top: 0.75rem;
   border-radius: 0.5rem;
 }

 form button{
   height: 3rem;
   background-color: #012A4A;
   color: white;
   font-size: 1.15rem;
   cursor: pointer;
 }
 h1{
  text-align: center;
 }